* {
	color: rgb(0, 0, 0);
	font-family: "Georgia", sans-serif;
}

h1 {
    color: rgb(0, 0, 0);
}

body {
	align-items: center;
	text-align: center;
	background: url(https://i.pinimg.com/736x/d1/21/b6/d121b601495795c154f50d77232bfebb.jpg);
    background-size: cover;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(50px);
}

.div {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(50px);
}
